* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.register {
  margin: 10vh auto;
  width: 80vw;
  height: 80vh;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(190, 187, 187, 0.6);
  display: flex;
}

.register-cover {
  background-image: url('../public/logiciel.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
}

.register-content {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
}

.register-header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.register-header p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #777;
}

.register-form .form-group {
  margin-bottom: 1.5rem;
}

.register-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

.register-form input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border 0.3s ease;
}

.register-form input:focus {
  border-color: #333;
  outline: none;
}

.register-btn {
  width: 100%;
  padding: 0.8rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #555;
}
